In [ ]:
# variables

number = 78

In [ ]:
brother_age = 32
print(brother_age)
print(type(brother_age))

32
<class 'int'>

In [ ]:
frds_name = ("maria","sandhu","durkai","amal","suja")
for i in frds_name:
 print(i)

maria
sandhu
durkai
amal
suja

In [ ]:
num = (17,30,21,55,43)
for i in num:
 print(i)

17
30
21
55
43

In [ ]:
amount = 5000
if amount >= 4000:
 print("profit")
else:
 print("loss")

profit

In [ ]:
brother_age = 32
print(brother_age)

32

In [ ]:
number

78

In [ ]:
my_number = 78
print(my_number)   # integer

78

In [ ]:
weight = 45.9
print(weight)
print(type(weight))

45.9
<class 'float'>

In [ ]:
my_data = "I am from Dolakhpur"
print(my_data)

I am from Dolakhpur

In [ ]:
college = "APC College"
print(college)

APC College

In [ ]:
print(type(college))

<class 'str'>

In [ ]:
number of students = 135      # error varum
print(number of students)

SyntaxError: invalid syntax (ipython-input-626814143.py, line 1)

In [ ]:
1styear_students = 45      # error varum
print(1styear_students)

SyntaxError: invalid decimal literal (ipython-input-268246624.py, line 1)

In [ ]:
# integers, strings , float

In [ ]:
success = True
print(success)

True

In [ ]:
6 > 8

False

In [ ]:
45 < 67

True

In [ ]:
34 > 4

True

In [ ]:
56 >= 56

True

In [ ]:
56 <= 56

True

In [ ]:
marks =  76

if marks >= 50:
  print("congrats , you have passed the exam")
else:
  print("sorry, you have failed")

congrats , you have passed the exam

In [ ]:
val = "78"
print(type(val))
print(int(val))

<class 'str'>
78

In [ ]:
marks = input("enter your marks ")
print(type(marks))     # "45"

my_marks = int(input("enter your marks "))
print(type(my_marks))   # 45

enter your marks 45
<class 'str'>
enter your marks 45
<class 'int'>

In [ ]:
val = int(input("hi, enter ur number "))
print(val)
#print(type(val)

hi, enter ur number 67
67

In [ ]:
age = 56

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [ ]:
6 < 100 <466

True

In [ ]:
balance = int(input(" number kudu .."))

if balance >= 100:
  print("no need to recharge")
elif  balance >= 50  and balance < 100:
  print("recharge ")
else:
  print("re -activate sim")

Write a Python program that calculates the number of moles of a substance.
The number of moles is calculated using the formula:
number of moles = mass / molar mass

Where:
Mass is measured in grams
Molar mass is measured in grams per mole

Example values for testing your program:
Substance: Glucose

Mass = 34.5 g
Molar mass = 180 g/mol

Your program should:
Ask the user to enter the mass of the substance

Ask the user to enter the molar mass
Calculate the number of moles

Print the result on the screen
Bonus: Round the final answer to two decimal places.

In [ ]:
a_mass = input()
a_molar_mass = input()

Write a Python program that calculates the molar mass of a compound made of carbon, hydrogen, and oxygen.

The atomic masses are:

Carbon (C) = 12 g/mol

Hydrogen (H) = 1 g/mol

Oxygen (O) = 16 g/mol

The molar mass is calculated using the formula:

Data Strcutures

In [ ]:
my_marks = [34,45,23,45,56]

print(my_marks)

[34, 45, 23, 45, 56]

In [ ]:
print(type(my_marks))

<class 'list'>

In [ ]:
print(my_marks[0])

34

In [ ]:
print(my_marks[1])

45

In [ ]:
print(my_marks[1:4])

[45, 23, 45]

In [ ]:

##########################################-------------Data Types---------------################################################

# these are the different types of data which we use to communiccate with the machine

# numbers (natural numbers intergers, decimal numbers (float))

# strings (names, paragraphs, textual data)

# boolean (yes or no)  (True or False)

# DONT RUN THESE LINES IN A SINGLE CELL, RUN EACH LINE IN A SEPERATE CELL

print(132)       # integer

print(34.56)      # float

#strings
print("Sherlock Holmes")   # string, with characters

print('U r mine')     # string

print('342.5')          # string this is also a string, since it is under quotes, either single or double quotes

print("342")          # string, this is also a string, since it is under quotes, either single or double quotes

print('True')        # string

print('False')       # String

#boolean
print(True)        # boolean, True or False

print(False)       # boolean, True or False

print(4<5)          # basic comparison ( ==, < ,>,<=,>=), leads to either True or False , which is boolean data type

print(4 <= 5)          # basic comparison ( ==, < ,>,<=,>=), leads to either True or False , which is boolean data type (LESS THAN OR Equals)

print(40 >= 52)        # basic comparison ( ==, < ,>,<=,>=), leads to either True or False , which is boolean data type (Greater than OR Equals)

print(25 == 34)          # basic comparison ( ==, < ,>,<=,>=), leads to either True or False , which is boolean data type


#####################################################-------VARIABLES--------##################################################



score  =  132       # variable , storing data in memory inoder to process it, but we will asssign a name to that stored entity
                    # twins example,,,, value like 10 is stored in two different memory locations,
                    # a=10       , a is stored in different location
                    # b=10
                    # here a and b are like twins , with same entity (lookalike) but stored in different locations ,
                    # and called with different names call variables (a, b)

#--------------------------------------------------Rules --------------------------------------
                           #### Case sensitive

#print(Score)        # Case sensitive (uppercase,, lowercase), this will throw an error, if you run it,
                     # since , score is different from Score
                     #  we are using S (capital S) instead of small s, so it will throw an error

print(score)        # now it will work


                          #### assigning variable

#my weight   = 85         # wont work as variable, since you have space inbetween the words which u used for variable declaration

# 23myWeight          # wont work,   dont start a variable name with number

my_weight  =  34.56  # will work

#My_weight             # will work

#myWeight               # will work

print(my_weight)

######################################################


#name  =  "Abdul Kalam"    # string

#print(name)





# Data Structures

# Conditional statements

# Loops

# Functions

132
34.56
Sherlock Holmes
U r mine
342.5
342
True
False
True
False
True
True
False
False
132
34.56

In [ ]:
100college = "IIT Madras"  # throw error, dont start a variable name with number or special characters

SyntaxError: invalid decimal literal (ipython-input-1365530072.py, line 1)

In [ ]:
a100college = "IIT Madras"  # wont throw error, dont start a variable name with number
print(  a100college)

IIT Madras

In [ ]:
address = "TamilNadu"

In [ ]:
# slicing
address[2:5]    # from index 2 to 5, m to l, slicing wont consider upper index, upper index munnadi value dha yeduthukum

'mil'

In [ ]:
address[3:7]

'ilNa'

In [ ]:
address[3:]    # 3 index landhi , yellame

'ilNadu'

In [ ]:
address[:6]    # upper index 5 varakum, starting landhi

'TamilN'

In [ ]:
address[:]     # yellame, staring to end

'TamilNadu'

In [ ]:
address[0:7:2]  # inge 2 andradhu step size
 #TamilNadu, 1 landhi 8 varakum access ayidum, but step size 2, onu kaprom inonu skip panidum.,,"TamilNa" idhula aiNd dha varum

'Tmla'

In [ ]:
friends  = ['ramesh', 'suresh','ganesh','vignesh','Harish']

In [ ]:
marks  = [23, 453434222, 67.56, 6, 34]

In [ ]:
location = [43, "Chennai", 23.5,'65.22',34, False]

In [ ]:
friends[1:3] # 1 and 2 comes

['suresh', 'ganesh']

In [ ]:
li = [3,'watson',43,45,34,45,3,45,3]

In [ ]:
li[1:5]
#output is a list again, ipo andha list la irukara index 1 irukara element'watson' ange landhi ,2nd ,3rd,4th index elements varum

['watson', 43, 45, 34]